<%- include("header") -%>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Simple Weather</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <p class="lead" id="welcome-message">Find your current weather and forecast.</p>
    <div class="lead">
      <form action="/" method="post" autocomplete="off">
        <div class="row input-row">
          <div class="col d-flex justify-content-center">
            <div class="input-group autocomplete" id="autocomplete">
              <label for="locationInput" class="control-label"></label>
              <input class="form-control text-center" id="search"
              type="text" name="location"
              placeholder="Search city name">
              <div class="input-group-append">
                <button id="locationBtn" class="btn btn-secondary"
                type="submit" name="locationBtn">Go</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><img src="/images/powered_by_google_on_non_white.png"
      alt="Powered by Google logo"></p>
      <!-- <div class="d-flex flex-row-reverse google">
        <img src="/images/powered_by_google_on_non_white.png"
        alt="Powered by Google logo">
      </div> -->
    </div>
  </footer>
</div>
<script src="client.js"></script>
<%- include("footer") -%>
