                <% if (predictionsArr.length > 0) { %>
                  <% predictionsArr.forEach(function(prediction) { %>
                  <div class="card">
                    <div class="card-body">
                      <%= prediction %>
                    </div>
                  </div>
                  <% }); %>
                <% } %>
