body {
  font-family: Montserrat;
}

.jumbotron {
  margin: 10% 10%;
}

.input-row {
  margin-left: 20%;
  margin-right: 20%;
}

.btn-row {
  margin-top: 1rem;
}

.form-control {
  margin-top: 1.5rem;
}
